*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 13px;            
    font-family: GoogleSans-Regular;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('../content/font/GoogleSans-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../content/font/GoogleSans-Regular.otf') format('opentype');
}